<a href="https://colab.research.google.com/github/PravallikaaMohan/E-Commerce_Analytics/blob/main/Amazon%20Products%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Amazon Products Analysis**

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Uploading the Dataset

In [6]:
# read the csv file
original_df = pd.read_csv("Amazon-Products.csv",on_bad_lines='skip')

<ipython-input-6-05e51fd31436>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  original_df = pd.read_csv("Amazon-Products.csv",on_bad_lines='skip')

In [7]:
#create a copy of the data
df = original_df.copy()

#quick look of the data
df.head(20)

,Unnamed: 0,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4,69,"₹37,990","₹68,990"
4,4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"
5,5,Voltas 1.4 Ton 3 Star Inverter Split AC(Copper...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41TuyxwZ9m...,https://www.amazon.in/Voltas-Adjustable-173V-V...,4,"1,666","₹31,990","₹70,990"
6,6,Lloyd 1.0 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31IXlxIPsO...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"1,097","₹29,999","₹49,990"
7,7,Lloyd 1.5 Ton 5 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31IXlxIPsO...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.3,"1,494","₹39,990","₹67,990"
8,8,Carrier 1 Ton 3 Star AI Flexicool Inverter Spl...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51sTXvsanQ...,https://www.amazon.in/Carrier-Flexicool-Invert...,4.1,674,"₹30,990","₹58,190"
9,9,"Voltas 1.5 Ton, 5 Star, Inverter Split AC(Copp...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51WQ3nWF0v...,https://www.amazon.in/Voltas-Inverter-Split-Co...,4,801,"₹37,999","₹73,990"
10,10,"Daikin 1 Ton 3 Star Inverter Split AC (Copper,...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51Nff1pJMq...,https://www.amazon.in/Daikin-Inverter-Display-...,4.2,558,"₹32,990","₹48,200"
11,11,Daikin 1.5 Ton 5 Star Inverter Split AC (Coppe...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41BgAG0qRa...,https://www.amazon.in/Daikin-Inverter-Copper-F...,4.1,730,"₹44,990","₹67,200"
12,12,Panasonic 1.5 Ton 5 Star Wi-Fi Inverter Smart ...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/61ZzcguzB1...,https://www.amazon.in/Panasonic-Convertible-ad...,4.3,"5,073","₹45,990","₹63,400"
13,13,Carrier 1.5 Ton 5 Star AI Flexicool Inverter S...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/61JtwWcAco...,https://www.amazon.in/Carrier-Flexicool-Conver...,4,568,"₹41,999","₹78,490"
14,14,"Whirlpool 1.5 Ton 3 Star, Flexicool Inverter S...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51vyGNOskV...,https://www.amazon.in/Whirlpool-Flexicool-Inve...,3.9,"3,670","₹31,990","₹62,000"
15,15,Samsung 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51dPET0mdF...,https://www.amazon.in/Samsung-Inverter-Convert...,3.8,312,"₹35,499","₹60,990"
16,16,Lloyd 1.0 Ton 5 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31IXlxIPsO...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.1,88,"₹34,000","₹57,990"
17,17,"Godrej 1.5 Ton 5 Star 5-In-1 Convertible, Inve...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51HEnpDyVp...,https://www.amazon.in/Godrej-Convertible-1-5T-...,4.1,432,"₹37,490","₹54,900"
18,18,Godrej 1 Ton 3 Star Inverter Split Ac Model 20...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41kGqW4aeM...,https://www.amazon.in/Godrej-Convertible-Split...,3.9,268,"₹29,490","₹42,900"
19,19,Daikin 1.5 Ton 3 Star Inverter Split AC (Coppe...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41O8pnwGG+...,https://www.amazon.in/Daikin-Inverter-Display-...,3.5,2,"₹39,499","₹58,400"

In [8]:
# shape of dataframe
df.shape

(137359, 10)

In [9]:
#quick view of the columns type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137359 entries, 0 to 137358
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      137359 non-null  int64
 1   name            137359 non-null  object
 2   main_category   137359 non-null  object
 3   sub_category    137359 non-null  object
 4   image           137359 non-null  object
 5   link            137359 non-null  object
 6   ratings         114377 non-null  object
 7   no_of_ratings   114377 non-null  object
 8   discount_price  126567 non-null  object
 9   actual_price    135068 non-null  object
dtypes: int64(1), object(9)
memory usage: 10.5+ MB

# Data preprocessing

In [10]:
# check for duplicates
df.duplicated().any()

False

In [11]:
# drop unnecessary columns - (first column is unnecessary)
df = df.drop('Unnamed: 0',axis=1)

In [12]:
# Overview of the unique values of this column
df['ratings'].unique()

array(['4.2', '4', '4.1', '4.3', '3.9', '3.8', '3.5', nan, '4.6', '3.3',
       '3.4', '3.7', '2.9', '5', '4.4', '3.6', '2.7', '4.5', '3', '3.1',
       '3.2', '4.8', '4.7', '2.5', '1', '2.6', '2.8', '2.3', '1.7', 'Get',
       '1.8', '2.4', '4.9', '2.2', '1.6', '1.9', '2', '1.4', '2.1',
       'FREE', '1.2', '1.3', '1.5', '₹68.99', 3.7, 4.2, 3.8, 3.6, 3.9,
       4.1, 3.5, 4.0, 3.2, 5.0, 4.3, 3.3, 3.4, 4.7, 4.5, 4.4, 4.6, 4.8,
       3.1, 3.0, 2.9, 1.7, 1.9, 2.8, 1.0, 2.4, 2.5, 4.9, 1.6, 2.7, 2.3,
       2.0, 2.6, 1.8, 1.4, 2.2, 1.3, 2.1, 1.5], dtype=object)

In [13]:
# There are non numeric values in the column. Let's strip those and change the column type
# remove non numeric values
dirty_value = ['Get', 'FREE', '₹68.99']
df['ratings'] = df['ratings'].replace(dirty_value, '0')

# change the column type
df['ratings'] = df['ratings'].astype('float')
df['ratings'].dtypes

dtype('float64')

In [14]:
# no_of_ratings
# Overview of the unique values

df['no_of_ratings'].unique()

array(['2,255', '2,948', '1,206', ..., '4,399', '3,380', '3,800'],
      dtype=object)

In [15]:
# replace the comma ',' by '' nothing

df['no_of_ratings'] = df['no_of_ratings'].replace(',','', regex = True)
df['no_of_ratings'].unique()

array(['2255', '2948', '1206', ..., '4399', '3380', '3800'], dtype=object)

In [16]:
# Find non numeric values

non_numeric_values = df.loc[~pd.to_numeric(df['no_of_ratings'], errors='coerce').notna(), 'no_of_ratings']

non_numeric_values.unique()

array([nan, 'Only 2 left in stock.', 'Only 1 left in stock.',
       'FREE Delivery by Amazon', 'Usually dispatched in 2 to 3 days.',
       'Usually dispatched in 5 to 6 days.',
       'Usually dispatched in 4 to 5 days.',
       'Usually dispatched in 6 to 7 days.',
       'Usually dispatched in 7 to 8 days.', 'Only 3 left in stock.',
       'Usually dispatched in 3 to 4 weeks.'], dtype=object)

In [ ]:
# replacing non numeric value by '0'
df['no_of_ratings'] = pd.to_numeric(df['no_of_ratings'], errors='coerce').fillna('0')

# change the column type
df['no_of_ratings'] = df['no_of_ratings'].astype('float')
df['no_of_ratings'].dtypes

dtype('float64')

In [ ]:
# Overview of the unique values

df['discount_price'].unique()

array(['₹32,999', '₹46,490', '₹34,490', ..., '₹3,712.10', '₹1,429.60',
       '₹651.01'], dtype=object)

In [ ]:
# Remove '₹' and ","

# remove the '₹'
df.loc[df['discount_price'].str.contains('₹')==True, 'discount_price'] = df.loc[df['discount_price'].str.contains('₹')==True, 'discount_price'].apply(lambda x:x.strip('₹'))

# remove ','
df.loc[df['discount_price'].str.contains(',')==True,'discount_price'] = df.loc[df['discount_price'].str.contains(',')==True,'discount_price'].apply(lambda x:x.replace(',',''))
df['discount_price'].unique()

array(['32999', '46490', '34490', ..., '3712.10', '1429.60', '651.01'],
      dtype=object)

In [ ]:
# find non numeric values
non_numeric_values = df.loc[~pd.to_numeric(df['discount_price'], errors='coerce').notna(), 'discount_price']

non_numeric_values.unique()

array([nan], dtype=object)

In [ ]:
# change the column type
df['discount_price'] = df['discount_price'].astype('float')
df['discount_price'].dtypes

dtype('float64')

In [ ]:
df['actual_price'].unique()

array(['₹58,990', '₹75,990', '₹61,990', ..., '₹4,792', '₹8,023.60',
       '₹32,120'], dtype=object)

In [ ]:
#remove the '₹'
df.loc[df['actual_price'].str.contains('₹')==True, 'actual_price'] = df.loc[df['actual_price'].str.contains('₹')==True, 'actual_price'].apply(lambda x:x.strip('₹'))
df['actual_price'].unique()

#remove the ','
df.loc[df['actual_price'].str.contains(',')==True,'actual_price'] = df.loc[df['actual_price'].str.contains(',')==True,'actual_price'].apply(lambda x:x.replace(',',''))
df['actual_price'].unique()

array(['58990', '75990', '61990', ..., '4792', '8023.60', '32120'],
      dtype=object)

In [ ]:
# find non numeric values
non_numeric_values = df.loc[~pd.to_numeric(df['actual_price'], errors='coerce').notna(), 'actual_price']
non_numeric_values.unique()

array([nan], dtype=object)

In [ ]:
# change the column type
df['actual_price'] = df['actual_price'].astype('float')
df['actual_price'].dtypes

dtype('float64')

**create a manufacturer column**

We can easily see that the manufacturers names are the first word of each row of the name's column.

In [ ]:
# split the rows in the name column on the ' ' space to get the manufacturer names
df.insert(1, 'manufacturer', df['name'].apply(lambda x:x.split(' ')[0]))
df.head()

,name,manufacturer,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,Lloyd,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255.0,32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,LG,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948.0,46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,LG,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206.0,34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,LG,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69.0,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,Carrier,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630.0,34490.0,67790.0

**EDA**

When it comes to e-commerce sites like Amazon the few things I first look for are the TOP manufacturers and their statistics::

Ratings
Number of reviews
Price
Discount percentage
Relationship between discount percentage and number of reviews
Top categories
Top subcategories

In [ ]:
# let's quickly see basic stats
df.describe()

             ratings  no_of_ratings  discount_price  actual_price
count  226994.000000  334410.000000    2.937530e+05  3.243030e+05
mean        3.764782     551.795189    1.987530e+03  3.927910e+03
std         2.375850    5969.505072    7.236776e+03  1.078730e+05
min         0.000000       0.000000    9.000000e+00  0.000000e+00
25%         3.500000       0.000000    3.790000e+02  8.990000e+02
50%         3.900000       4.000000    6.490000e+02  1.499000e+03
75%         4.300000      47.000000    1.299000e+03  2.799000e+03
max       952.000000  437652.000000    1.249990e+06  6.108299e+07

In [ ]:
# the ratings, discount_price and actual_price columns contain many Nan value
df.isna().sum()

name                   0
manufacturer           0
main_category          1
sub_category           1
image                  1
link                   1
ratings           107416
no_of_ratings          0
discount_price     40657
actual_price       10107
dtype: int64

Remove all the row woth Nan in the ratings, actual_pruce and discount_price columns

In [ ]:
# remove all the row with Nan
df = df.dropna(subset = ['ratings', 'actual_price', 'discount_price']).reset_index(drop=True)
df.shape

(201922, 10)

In [ ]:
# Let's see the top 10 products with the highest price
df.nlargest(10,'actual_price')

In [ ]:
df.nlargest(10,'actual_price')

,name,manufacturer,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
122673,Clovia Women's Activewear Ankle Length Printed...,Clovia,sports & fitness,Running,https://m.media-amazon.com/images/I/61ssMT12tF...,https://www.amazon.in/Clovia-Womens-Activewear...,3.2,4.0,688.0,61082990.0
171571,Samsung 214 cm (85 inches) 8K Ultra HD Smart N...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91RMUYY13V...,https://www.amazon.in/Samsung-Smart-QA85QN800A...,4.0,10.0,1249990.0,1594900.0
171419,Sony Bravia 195 cm (77 inches) XR Series 4K Ul...,Sony,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/81sFUK4Sv0...,https://www.amazon.in/Sony-Bravia-inches-Googl...,4.7,439.0,455990.0,699900.0
171567,Samsung 189 cm (75 inches) 4K Ultra HD Smart N...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91b1B9Pjd2...,https://www.amazon.in/Samsung-inches-Ultra-Sma...,4.0,18.0,409990.0,589900.0
171424,Sony Bravia 164 cm (65 inches) XR Series 4K Ul...,Sony,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/81-G4oTdhO...,https://www.amazon.in/Sony-Bravia-inches-Googl...,4.4,44.0,322990.0,479900.0
171560,Samsung 189 cm (75 inches) The Frame Series 4K...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91Fag2ehZP...,https://www.amazon.in/Samsung-inches-Frame-Sma...,4.1,844.0,294990.0,424900.0
171573,LG 190.5 cm (75 inches) 75SK8000PTA 4K Super U...,LG,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91tjctyEfE...,https://www.amazon.in/LG-190-5-inches-75SK8000...,3.0,6.0,292585.0,419990.0
31787,XGIMI Aura 4K Ultra Short Throw Laser Projector,XGIMI,"tv, audio & cameras",Home Entertainment Systems,https://m.media-amazon.com/images/I/71sBkcJimq...,https://www.amazon.in/XGIMI-Ultra-Short-Throw-...,5.0,3.0,249990.0,400000.0
171565,LG 164 cm (65 inches) 4K Ultra HD Smart OLED T...,LG,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/81KDOQqwq0...,https://www.amazon.in/LG-inches-Ultra-65GXPTA-...,2.7,5.0,319990.0,399990.0
171572,Samsung 163 cm (65 Inches) 4K Ultra HD Smart Q...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/81i3H27E7s...,https://www.amazon.in/Samsung-Inches-Ultra-Sma...,3.4,3.0,299900.0,399900.0

We can see an inconsistancy between the first two products actual prices and their discount prices.

Let's remove those two rows

In [ ]:
df = df.drop([261431,141117], axis=0).reset_index(drop=True)

KeyError: ignored