<a href="https://colab.research.google.com/github/PravallikaaMohan/E-Commerce_Analytics/blob/main/Amazon_Products_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Amazon Products Analysis**

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Uploading the Dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# read the csv file
original_df = pd.read_csv("/content/drive/MyDrive/Amazon-Products.csv",on_bad_lines='skip')

In [4]:
#create a copy of the data
df = original_df.copy()

#quick look of the data
df.head(20)

,Unnamed: 0,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4,69,"₹37,990","₹68,990"
4,4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"
5,5,Voltas 1.4 Ton 3 Star Inverter Split AC(Copper...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41TuyxwZ9m...,https://www.amazon.in/Voltas-Adjustable-173V-V...,4,"1,666","₹31,990","₹70,990"
6,6,Lloyd 1.0 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31IXlxIPsO...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"1,097","₹29,999","₹49,990"
7,7,Lloyd 1.5 Ton 5 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31IXlxIPsO...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.3,"1,494","₹39,990","₹67,990"
8,8,Carrier 1 Ton 3 Star AI Flexicool Inverter Spl...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51sTXvsanQ...,https://www.amazon.in/Carrier-Flexicool-Invert...,4.1,674,"₹30,990","₹58,190"
9,9,"Voltas 1.5 Ton, 5 Star, Inverter Split AC(Copp...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51WQ3nWF0v...,https://www.amazon.in/Voltas-Inverter-Split-Co...,4,801,"₹37,999","₹73,990"
10,10,"Daikin 1 Ton 3 Star Inverter Split AC (Copper,...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51Nff1pJMq...,https://www.amazon.in/Daikin-Inverter-Display-...,4.2,558,"₹32,990","₹48,200"
11,11,Daikin 1.5 Ton 5 Star Inverter Split AC (Coppe...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41BgAG0qRa...,https://www.amazon.in/Daikin-Inverter-Copper-F...,4.1,730,"₹44,990","₹67,200"
12,12,Panasonic 1.5 Ton 5 Star Wi-Fi Inverter Smart ...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/61ZzcguzB1...,https://www.amazon.in/Panasonic-Convertible-ad...,4.3,"5,073","₹45,990","₹63,400"
13,13,Carrier 1.5 Ton 5 Star AI Flexicool Inverter S...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/61JtwWcAco...,https://www.amazon.in/Carrier-Flexicool-Conver...,4,568,"₹41,999","₹78,490"
14,14,"Whirlpool 1.5 Ton 3 Star, Flexicool Inverter S...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51vyGNOskV...,https://www.amazon.in/Whirlpool-Flexicool-Inve...,3.9,"3,670","₹31,990","₹62,000"
15,15,Samsung 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51dPET0mdF...,https://www.amazon.in/Samsung-Inverter-Convert...,3.8,312,"₹35,499","₹60,990"
16,16,Lloyd 1.0 Ton 5 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31IXlxIPsO...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.1,88,"₹34,000","₹57,990"
17,17,"Godrej 1.5 Ton 5 Star 5-In-1 Convertible, Inve...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51HEnpDyVp...,https://www.amazon.in/Godrej-Convertible-1-5T-...,4.1,432,"₹37,490","₹54,900"
18,18,Godrej 1 Ton 3 Star Inverter Split Ac Model 20...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41kGqW4aeM...,https://www.amazon.in/Godrej-Convertible-Split...,3.9,268,"₹29,490","₹42,900"
19,19,Daikin 1.5 Ton 3 Star Inverter Split AC (Coppe...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41O8pnwGG+...,https://www.amazon.in/Daikin-Inverter-Display-...,3.5,2,"₹39,499","₹58,400"

In [5]:
# shape of dataframe
df.shape

(551585, 10)

In [6]:
#quick view of the columns type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551585 entries, 0 to 551584
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      551585 non-null  int64
 1   name            551585 non-null  object
 2   main_category   551585 non-null  object
 3   sub_category    551585 non-null  object
 4   image           551585 non-null  object
 5   link            551585 non-null  object
 6   ratings         375791 non-null  object
 7   no_of_ratings   375791 non-null  object
 8   discount_price  490422 non-null  object
 9   actual_price    533772 non-null  object
dtypes: int64(1), object(9)
memory usage: 42.1+ MB

We can see that there are null values in 'ratings', 'no_of_ratings', 'discount_price' and 'actual_price' columns.

These must be removed or replaced with values.

# Data preprocessing

In [7]:
# check for duplicates
df.duplicated().any()

False

There are no duplicate values.

First column is unnecessary. So, it must be deleted.

In [8]:
# drop unnecessary columns - (first column is unnecessary)
df = df.drop('Unnamed: 0',axis=1)

In [9]:
# Overview of the unique values of this column
df['ratings'].unique()

array(['4.2', '4', '4.1', '4.3', '3.9', '3.8', '3.5', nan, '4.6', '3.3',
       '3.4', '3.7', '2.9', '5', '4.4', '3.6', '2.7', '4.5', '3', '3.1',
       '3.2', '4.8', '4.7', '2.5', '1', '2.6', '2.8', '2.3', '1.7', 'Get',
       '1.8', '2.4', '4.9', '2.2', '1.6', '1.9', '2', '1.4', '2.1',
       'FREE', '1.2', '1.3', '1.5', '₹68.99', '₹65', '1.1', '₹70', '₹100',
       '₹99', '₹2.99'], dtype=object)

In [10]:
# There are non numeric values in the column. Let's strip those and change the column type
# remove non numeric values
dirty_value = ['Get', 'FREE', '₹68.99', '₹65', '₹70', '₹100', '₹99', '₹2.99']
df['ratings'] = df['ratings'].replace(dirty_value, '0')

# change the column type
df['ratings'] = df['ratings'].astype('float')
df['ratings'].dtypes

dtype('float64')

In [11]:
# finding the number of null values in ratings column
df['ratings'].isna().sum()

175794

By removing all the rows with NaN values, we will lose a huge amount of valuable data. This may results in skewed results.

So, let us replace the ratings with the mean value of the column.

In [13]:
# finding mean value of ratings column
mean_ratings = df['ratings'].mean()
mean_ratings

3.7687472557884583

In [15]:
# replacing Nan Values with mean value
df['ratings'].fillna(value=mean_ratings, inplace=True)

In [16]:
# no_of_ratings
# Overview of the unique values

df['no_of_ratings'].unique()

array(['2,255', '2,948', '1,206', ..., '3,329', '7,141', '4,406'],
      dtype=object)

In [17]:
# replace the comma ',' by '' nothing

df['no_of_ratings'] = df['no_of_ratings'].replace(',','', regex = True)
df['no_of_ratings'].unique()

array(['2255', '2948', '1206', ..., '3329', '7141', '4406'], dtype=object)

In [18]:
# Find non numeric values

non_numeric_values = df.loc[~pd.to_numeric(df['no_of_ratings'], errors='coerce').notna(), 'no_of_ratings']
non_numeric_values.unique()

array([nan, 'Only 2 left in stock.', 'Only 1 left in stock.',
       'FREE Delivery by Amazon', 'Usually dispatched in 2 to 3 days.',
       'Usually dispatched in 5 to 6 days.',
       'Usually dispatched in 4 to 5 days.',
       'Usually dispatched in 6 to 7 days.',
       'Usually dispatched in 7 to 8 days.', 'Only 3 left in stock.',
       'Usually dispatched in 3 to 4 weeks.',
       'Usually dispatched in 4 to 5 weeks.', 'Only 5 left in stock.',
       'Only 4 left in stock.', 'Usually dispatched in 3 to 5 days.',
       'Usually dispatched in 11 to 12 days.',
       'Usually dispatched in 9 to 10 days.',
       'Usually dispatched in 2 to 3 weeks.',
       'Usually dispatched in 8 to 9 days.',
       'Usually dispatched in 1 to 2 months.',
       'This item will be released on August 14 2023.'], dtype=object)

In [19]:
# replacing non numeric value by '0'
df['no_of_ratings'] = pd.to_numeric(df['no_of_ratings'], errors='coerce').fillna('0')

# change the column type
df['no_of_ratings'] = df['no_of_ratings'].astype('float')
df['no_of_ratings'].dtypes

dtype('float64')

In [20]:
# finding the number of null values in no_of_ratings column
df['no_of_ratings'].isna().sum()

0

In [21]:
# Overview of the unique values

df['discount_price'].unique()

array(['₹32,999', '₹46,490', '₹34,490', ..., '₹3,712.10', '₹1,429.60',
       '₹651.01'], dtype=object)

In [22]:
# Remove '₹' and ","

# remove the '₹'
df.loc[df['discount_price'].str.contains('₹')==True, 'discount_price'] = df.loc[df['discount_price'].str.contains('₹')==True, 'discount_price'].apply(lambda x:x.strip('₹'))

# remove ','
df.loc[df['discount_price'].str.contains(',')==True,'discount_price'] = df.loc[df['discount_price'].str.contains(',')==True,'discount_price'].apply(lambda x:x.replace(',',''))
df['discount_price'].unique()

array(['32999', '46490', '34490', ..., '3712.10', '1429.60', '651.01'],
      dtype=object)

In [23]:
# find non numeric values

non_numeric_values = df.loc[~pd.to_numeric(df['discount_price'], errors='coerce').notna(), 'discount_price']
non_numeric_values.unique()

array([nan], dtype=object)

In [24]:
# change the column type
df['discount_price'] = df['discount_price'].astype('float')
df['discount_price'].dtypes

dtype('float64')

In [25]:
# finding the number of null values in discount_price column
df['discount_price'].isna().sum()

61163

Let us replace the NaN values in discount_price with the mean value of the column.

In [26]:
# finding mean value of discount_price column
mean_value = df['discount_price'].mean()
mean_value

2623.1607410760544

In [28]:
# replacing Nan Values with mean value
df['discount_price'].fillna(value=mean_value, inplace=True)

In [29]:
df['actual_price'].unique()

array(['₹58,990', '₹75,990', '₹61,990', ..., '₹608.97', '₹4,792',
       '₹8,023.60'], dtype=object)

In [30]:
#remove the '₹'
df.loc[df['actual_price'].str.contains('₹')==True, 'actual_price'] = df.loc[df['actual_price'].str.contains('₹')==True, 'actual_price'].apply(lambda x:x.strip('₹'))
df['actual_price'].unique()

#remove the ','
df.loc[df['actual_price'].str.contains(',')==True,'actual_price'] = df.loc[df['actual_price'].str.contains(',')==True,'actual_price'].apply(lambda x:x.replace(',',''))
df['actual_price'].unique()

array(['58990', '75990', '61990', ..., '608.97', '4792', '8023.60'],
      dtype=object)

In [31]:
# find non numeric values
non_numeric_values = df.loc[~pd.to_numeric(df['actual_price'], errors='coerce').notna(), 'actual_price']
non_numeric_values.unique()

array([nan], dtype=object)

In [32]:
# change the column type
df['actual_price'] = df['actual_price'].astype('float')
df['actual_price'].dtypes

dtype('float64')

**create a manufacturer column**

We can easily see that the manufacturers names are the first word of each row of the name's column.

In [33]:
# split the rows in the name column on the ' ' space to get the manufacturer names
df.insert(1, 'manufacturer', df['name'].apply(lambda x:x.split(' ')[0]))
df.head()

,name,manufacturer,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,Lloyd,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255.0,32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,LG,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948.0,46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,LG,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206.0,34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,LG,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69.0,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,Carrier,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630.0,34490.0,67790.0

**EDA**

When it comes to e-commerce sites like Amazon the few things that people first look for are the top manufacturers and their statistics:


*   Top categories
*   Top subcategories
*   Ratings
*   Number of reviews
*   Price
*   Discount Percentage
*   Relationship between discount percentage and number of reviews
*   List item

In [24]:
# let's quickly see basic stats
df.describe()

             ratings  no_of_ratings  discount_price  actual_price
count  375791.000000  551585.000000    4.904220e+05  5.337720e+05
mean        3.768747     563.315707    2.623161e+03  2.311128e+04
std         0.895413    7092.573533    9.458196e+03  1.355082e+07
min         0.000000       0.000000    8.000000e+00  0.000000e+00
25%         3.500000       0.000000    3.890000e+02  9.900000e+02
50%         3.900000       4.000000    6.790000e+02  1.599000e+03
75%         4.200000      49.000000    1.399000e+03  2.999000e+03
max         5.000000  589547.000000    1.249990e+06  9.900000e+09

In [34]:
# the ratings, discount_price and actual_price columns contain many Nan value
df.isna().sum()

name                  0
manufacturer          0
main_category         0
sub_category          0
image                 0
link                  0
ratings               0
no_of_ratings         0
discount_price        0
actual_price      17813
dtype: int64

Remove all the rows with Nan in the actual_price column.

In [35]:
# remove all the row with Nan
df = df.dropna(subset = ['actual_price']).reset_index(drop=True)
df.shape

(533772, 10)

Let us now check if the actual price is less than the dicount price.

In [37]:
index = df[ (df['discount_price'] >= df['actual_price']) ].index
df.drop(index , inplace=True)

In [38]:
# Let's see the top 10 products with the highest price
df.nlargest(10,'actual_price')

,name,manufacturer,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
190482,"Marutivilla Insect Killer, Mosquito Killer Lig...",Marutivilla,home & kitchen,Garden & Outdoors,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Marutivilla-Mosquito-Suc...,2.000000,1.0,589.0,9.900000e+09
390487,Clovia Women's Activewear Ankle Length Printed...,Clovia,sports & fitness,Running,https://m.media-amazon.com/images/I/61ssMT12tF...,https://www.amazon.in/Clovia-Womens-Activewear...,3.200000,4.0,688.0,6.108299e+07
482581,Samsung 214 cm (85 inches) 8K Ultra HD Smart N...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91RMUYY13V...,https://www.amazon.in/Samsung-Smart-QA85QN800A...,4.000000,10.0,1249990.0,1.594900e+06
301348,USPTO डायमंड वन स्टोन D Colour Genuine 3 Carat...,USPTO,accessories,Jewellery,https://m.media-amazon.com/images/I/31VTWJnrqs...,https://www.amazon.in/USPTO-Certified-Transpar...,3.768747,0.0,406009.0,1.200000e+06
323339,USPTO डायमंड वन स्टोन D Colour Genuine 3 Carat...,USPTO,kids' fashion,Kids' Fashion,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/USPTO-Certified-Transpar...,3.768747,0.0,406009.0,1.200000e+06
378937,USPTO डायमंड वन स्टोन D Colour Genuine 3 Carat...,USPTO,stores,Men's Fashion,https://m.media-amazon.com/images/I/31VTWJnrqs...,https://www.amazon.in/USPTO-Certified-Transpar...,3.768747,0.0,406009.0,1.200000e+06
378969,USPTO डायमंड वन स्टोन D Colour Genuine 3 Carat...,USPTO,stores,Men's Fashion,https://m.media-amazon.com/images/I/31VTWJnrqs...,https://www.amazon.in/USPTO-Certified-Transpar...,3.768747,0.0,406009.0,1.200000e+06
146982,Venus Gems Gallery Real Diamond Ring 2 Carat O...,Venus,accessories,Fashion & Silver Jewellery,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Gallery-Diamond-Original...,3.768747,0.0,499999.0,1.000000e+06
300054,Venus Gems Gallery Real Diamond Ring 2 Carat O...,Venus,accessories,Jewellery,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Gallery-Diamond-Original...,3.768747,0.0,499999.0,1.000000e+06
300188,USPTO 2.85 Carat Real GIA Certifed Diamond Loo...,USPTO,accessories,Jewellery,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/USPTO-Certifed-StoneBest...,3.768747,0.0,459999.0,9.200000e+05

In [ ]:
df.nlargest(10,'actual_price')

,name,manufacturer,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
122673,Clovia Women's Activewear Ankle Length Printed...,Clovia,sports & fitness,Running,https://m.media-amazon.com/images/I/61ssMT12tF...,https://www.amazon.in/Clovia-Womens-Activewear...,3.2,4.0,688.0,61082990.0
171571,Samsung 214 cm (85 inches) 8K Ultra HD Smart N...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91RMUYY13V...,https://www.amazon.in/Samsung-Smart-QA85QN800A...,4.0,10.0,1249990.0,1594900.0
171419,Sony Bravia 195 cm (77 inches) XR Series 4K Ul...,Sony,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/81sFUK4Sv0...,https://www.amazon.in/Sony-Bravia-inches-Googl...,4.7,439.0,455990.0,699900.0
171567,Samsung 189 cm (75 inches) 4K Ultra HD Smart N...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91b1B9Pjd2...,https://www.amazon.in/Samsung-inches-Ultra-Sma...,4.0,18.0,409990.0,589900.0
171424,Sony Bravia 164 cm (65 inches) XR Series 4K Ul...,Sony,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/81-G4oTdhO...,https://www.amazon.in/Sony-Bravia-inches-Googl...,4.4,44.0,322990.0,479900.0
171560,Samsung 189 cm (75 inches) The Frame Series 4K...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91Fag2ehZP...,https://www.amazon.in/Samsung-inches-Frame-Sma...,4.1,844.0,294990.0,424900.0
171573,LG 190.5 cm (75 inches) 75SK8000PTA 4K Super U...,LG,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/91tjctyEfE...,https://www.amazon.in/LG-190-5-inches-75SK8000...,3.0,6.0,292585.0,419990.0
31787,XGIMI Aura 4K Ultra Short Throw Laser Projector,XGIMI,"tv, audio & cameras",Home Entertainment Systems,https://m.media-amazon.com/images/I/71sBkcJimq...,https://www.amazon.in/XGIMI-Ultra-Short-Throw-...,5.0,3.0,249990.0,400000.0
171565,LG 164 cm (65 inches) 4K Ultra HD Smart OLED T...,LG,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/81KDOQqwq0...,https://www.amazon.in/LG-inches-Ultra-65GXPTA-...,2.7,5.0,319990.0,399990.0
171572,Samsung 163 cm (65 Inches) 4K Ultra HD Smart Q...,Samsung,"tv, audio & cameras",Televisions,https://m.media-amazon.com/images/I/81i3H27E7s...,https://www.amazon.in/Samsung-Inches-Ultra-Sma...,3.4,3.0,299900.0,399900.0

We can see an inconsistancy between the first product's actual price and discount price.

Let's remove that row.

In [39]:
df = df.drop([122673], axis=0).reset_index(drop=True)

**Top 10 most popular manufacturers**

In [41]:
#use the groupby function
top_manufacturer = df.groupby('manufacturer',as_index=False).size().sort_values('size',ascending=False)
top_manufacturer.head(10)

      manufacturer  size
29148           PC  5821
31163         Puma  4638
36860      Shopnet  4259
3442        Amazon  3618
40744         U.S.  2993
39942          The  2988
4537         Avsar  2907
27659         Nike  2903
26868      NEUTRON  2852
25719        Men's  2616

Now, let us store this cleaned dataset in a excel file and then use it for Exploratory Data Analysis.

In [42]:
# writing to Excel
datatoexcel = pd.ExcelWriter('Amazon_Data.xlsx')

In [43]:
# write DataFrame to excel
df.to_excel(datatoexcel)

In [44]:
# save the excel
datatoexcel.save()

<ipython-input-44-8066d640c5d3>:2: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  datatoexcel.save()